<nav class="navbar navbar-expand-lg navbar-light bg-light vh-100 position-fixed top-0 start-0">
    <div class="container-fluid flex-column align-items-start px-0 h-100 ">
        <div>
            <a class="navbar-brand px-2 mb-4" href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/9f843c654f4bbfb95e6ab2eaf0c5a42f2c3c6205/week5/logo-ANSWER.svg" alt="logo"></a>
            <ul class="navbar-nav flex-column">
              <li class="nav-link active border-start  border-success ps-3" aria-current="page" href="#">
                <span class="material-symbols-outlined align-bottom">analytics</span>
                <a href="#">Dashboard</a></li>

                <li class="nav-link  border-start  border-success ps-3" aria-current="page" href="#">
                  <span class="material-symbols-outlined align-bottom">quiz</span>
                  <a href="#">Question</a></li>

                <li class="nav-link active border-start border-3  border-success text-success ps-3" aria-current="page" href="#">
                  <span class="material-symbols-outlined align-bottom">assignment</span>
                  <a href="index.html">Assignment</a></li>

                <li class="nav-link  border-start  border-success ps-3" aria-current="page" href="#">
                    <span class="material-symbols-outlined align-bottom">video_library</span>
                    <a href="#">Course</a></li>

                <li class="nav-link  border-start  border-success ps-3" aria-current="page" href="#">
                      <span class="material-symbols-outlined align-bottom">supervisor_account</span>
                      <a href="admin.html">Admin</a></li>

                <li class="nav-link  border-start  border-success ps-3" aria-current="page" href="#">
                        <span class="material-symbols-outlined align-bottom">settings</span>    
                        <a href="#">Settings</a></li>

            </ul>
        </div>
        <div class="d-flex ps-3 pe-5">
            <div class="flex-shrink-0">
              <img class="rounded-circle object-fit-cover" width="48" height="48" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" alt="...">
            </div>
            <div class="flex-grow-1 ms-3">
              <p class="fw-bold">Andy Chen</p>
              <a class="gray-6" href="mailto:andy0401@mail.com"><small>andy0401@mail.com</small></a>
            </div>
        </div>
    </div>
  </nav>